@import url(./global/global.css);
@import url(./utilidades/tipografia.css);
@import url(./utilidades/cores.css);
@import url(./global/header.css);

/* utilidades */
@import url(./utilidades/componentes.css);

/* Home */
@import url(./home/introducao.css);
@import url(./home/tecnologia.css);
@import url(./home/parceiros.css);
@import url(./home/depoimentos.css);

/* bicicletas */
@import url(./bicicletas/bicicletas-lista.css);
